body {
  font-family: 'Quicksand', sans-serif;
}

/* Datatable */
/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
  color: #4a5568;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  line-height: 1.25;
  border-width: 0px;
  border-radius: 0.25rem;
  border-color: #edf2f7;
  background-color: #edf2f7;
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #ebf4ff;
  /*bg-indigo-100*/
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button {
  font-weight: 700;
  border-radius: 0.25rem;
  border: 1px solid transparent;
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-weight: 700;
  border-radius: 0.25rem;
  background: #667eea !important;
  border: 1px solid transparent;
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: #fff !important;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  font-weight: 700;
  border-radius: 0.25rem;
  background: #667eea !important;
  border: 1px solid transparent;
}

/*Add padding to bottom border */
table.dataTable.no-footer {
  border-bottom: 1px solid #e2e8f0;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
  background-color: #667eea !important;
}
/* End Datatable */

.bg-green {
  background-color: #009688;
}

.text-green {
  color: #009688;
}

.btn-green {
  background-color: #009688;
  color: #ffffff;
}

.btn-green:hover {
  background-color: #0c6c63;
  color: #ffffff;
}

.btn-green:focus,
.btn-green:active {
  background-color: #0c6c63 !important;
  box-shadow: 0 0 0 0.25rem rgba(40, 167, 69, 0.5);
  color: #ffffff !important;
}

.btn-green:disabled {
  background-color: #0c6c63 !important;
  color: #ffffff !important;
}

.profil {
  width: 20%;
  white-space: nowrap;
}

.profil2 {
  width: 5%;
  white-space: nowrap;
}

#nprogress .spinner {
  display: none !important;
}

#nprogress .bar {
  background: #009688 !important;
  height: 4px;
  z-index: 100 !important;
}

.card {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}
.chart-container {
  height: 350px;
}

.select-dashboard {
  width: 13rem;
}

/* #detailDescription p {
  margin-bottom: -5px;
} */